body {
  color: #00c8c8;
  background: #004646;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 15%; }
  body span {
    background: #c80073; }
  body h1 {
    color: #00c8c8;
    margin-top: 10px;
    margin-bottom: 15%; }
  body h2 {
    color: #00c8c8;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #00c8c8;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: #00c8c8;
    padding-right: 15%; }
  body ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-right: 15%; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #00c8c8; }
  body img {
    border-radius: 50%; }
